/*selecting by tag name*/
#d1 input {
    border-style: double;
    border-width: 5px;
    border-color: red;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: aquamarine;
    padding: 10px
}

/*selecting by id*/
#d1 {
    background-color: darkgoldenrod;
}

/*selecting by class name*/
.red {
    background-color: antiquewhite;
}